backend/bootstrap/** linguist-vendored
backend/public/** linguist-vendored
backend/storage/** linguist-vendored
backend/database/** linguist-vendored
backend/app/Http/Controllers/Auth/** linguist-vendored
backend/app/Http/Middlewares/** linguist-vendored
backend/app/Providers/** linguist-vendored
backend/app/Requests/Auth/** linguist-vendored

# broooo
# i don't know why this is being included!!
backend/config/** linguist-vendored
backend/config/app.php linguist-vendored
backend/config/auth.php linguist-vendored
backend/config/cache.php linguist-vendored
backend/config/cors.php linguist-vendored
backend/config/database.php linguist-vendored
backend/config/filesystems.php linguist-vendored
backend/config/logging.php linguist-vendored
backend/config/mail.php linguist-vendored
backend/config/queue.php linguist-vendored
backend/config/sanctum.php linguist-vendored
backend/config/services.php linguist-vendored
backend/config/session.php linguist-vendored