# Auto detect text files and perform LF normalization
* text=auto
backend/bootstrap/** linguist-vendored
backend/config/** linguist-vendored
backend/public/** linguist-vendored
backend/storage/** linguist-vendored