nav {
    background-color: #334c8d;
    width: 100%;
    /* spacing to allow fixed position */
    margin: 0;
    top: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul#right {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 1em;
}

nav a, nav li#brand {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: lightgray;
    transition: color 0.2s ease-in-out;
}