@import url("reset.css");

/*
    Variables
*/
:root {
    --body-background-color: #100c5e;
    --content-background-color: #130e6e;
    --navigation-background-color: #090733;
    --header-background-color: #191288;
    --heading-font: Trebuchet MS;
    --text-font: Verdana, Geneva, Tahoma, sans-serif;
}

/*
    Headings
*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font), sans-serif;
    padding: 1em;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/*
    Body
*/
body {
    background-color: var(--body-background-color);
    font-family: var(--text-font), sans-serif;
    color: white;
    width: 100%;
}

main, header {
    width: 80%;
    margin: auto;
}

header {
    background-color: var(--header-background-color);
}

header > h1 {
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px black;
}

main {
    background-color: var(--content-background-color);
    min-height: 100vh;
}

article {
    padding: 10px;
}

footer {
    background-color: var(--navigation-background-color);
    padding: 10px;
}

/*
    idk
*/
.center-of-screen {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    flex-direction: column;
}

.output-container {
    border: 2px solid red;
    padding: 10px;
    color: red;
    margin: 5px;
}

/*
    Forms
*/
input[type="email"], input[type="password"], input[type="submit"] {
    border: none;
    padding: 10px;
    font-family: var(--text-font), sans-serif;
    border-radius: 5px;
}

input[type="submit"] {
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: lightgray;
}

/*
    Navigation
*/
nav {
    background-color: var(--navigation-background-color);
    color: white;
    padding: 20px;
    display: flex;
}

nav ul {
    display: flex;
}

nav ul li, nav #brand {
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav #hide-navbar {
    display: none;
}

p {
    font-size: 1em;
    padding: 1em 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgray;
    transition: color 0.2s ease;
}

/*
    Tables
*/
table {
    width: 100%;
}

table, tr, td, th {
    border: 1px solid white;
}

td, th {
    padding: 10px;
}

/*
    Properties
*/
*[data-unselectable="true"] {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ and Edge */
    user-select: none;         /* Standard syntax */
}