# Turn on the Rewrite Engine
RewriteEngine On

# Set the base URL for rewriting
RewriteBase /freshman-project/server/

# Prevent direct access to certain files or directories (optional)
# For example, to prevent direct access to the .env file
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Redirect all requests to index.php unless they are for actual files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]